/* * {
  user-select: none;
} */
/* nav {
  display: block;
  padding: 9px;
  background: #01fff3;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  position: relative;
} */
/* .upper {
  display: flex;
} */
/* nav {
  color: white;
} */
